body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.message-card {
	background-color: #eee;
	border: solid 2px black;
	border-radius: 5px;
	margin: 5%;
	padding: 1%;
}

.user {
	display: inline;
	background-color: #222;
	color: lightgray;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	font-weight: bold;
}

/* .user::before {
	font-weight: normal;
	content: "[ ";
}

.user::after {
	font-weight: normal;
	content: " ]";
} */

form {
	display: flex;
	flex-direction: column;
}
