body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.message-card {
	background-color: #eee;
	border: solid 2px black;
	border-radius: 5px;
	margin: 5%;
}

.user {
	font-weight: bold;
}
